{% extends "allauth/layouts/entrance.html" %}
{% load i18n %}

{% block head_title %}{% trans "Password changed" %}{% endblock %}
{% block heading %}{% trans "Password changed" %}{% endblock %}
{% block subtitle %}
{% trans "Your password has been updated. You can now sign in with your new credentials." %}
{% endblock %}

{% block body %}
<a href="{% url 'account_login' %}"
   data-press data-hover="grow"
   class="btn btn-primary w-full py-2.5">
  {% trans "Sign in" %}
</a>

<p class="mt-2 text-xs text-slate-400 dark:text-slate-500 text-center">
  {% trans "If you didn't make this change, contact your administrator immediately." %}
</p>
{% endblock %}