Django>=5.2
djangorestframework
djangorestframework-simplejwt
django-filter
django-environ
Pillow
django-unfold
pytest
pytest-django
factory-boy
django-debug-toolbar
gunicorn
whitenoise
sentry-sdk
django-cors-headers
python-decouple
django-tailwind
django-auditlog
psycopg2-binary
dj-lite-tenant